
    
  <html>
    <body>
      
    
<div class="col-md-10 mx-auto" *ngIf="videoData">
    

    

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
          <div class="card-body" *ngFor="let video of videoList">
            <img [src]="url+'/'+ video['thumbnail'] " alt="" class="card-img-top">
            <video class="img-fluid" [src]="url+'/' + videoData.file" controls></video>
          </div>
        </div>
        <div class="col-md-9">
            <video class="img-fluid" [src]="url+'/' + videoData.file" controls></video>
    
            <h3> 
                <p>{{videoData.title}}</p>
            Uploaded on: {{videoData.created | date}}
            Shared by: {{videoData.user.fullname}}</h3>
        </div>
    </div>
</div>

</body>
</html>